
// ==========
// Typography
// ==========

.large-heading {}

.medium-heading {}

.small-heading {}

.important-text {
	font-size: 1.25rem;
	line-height: $base-line-height;
}
.secondary-text {
	font-size: 0.85rem;
	color: lighten( $body-font-color, 40% );
	line-height: $base-line-height * 1.25;
}

.caption-text {}


// ======================================================
// WYSIWYG Blocks
// Everything passed through 'the_content' filter will be
// automatically wrapped in div.wysiwyg
// ======================================================

.wysiwyg {

	// ==============
	// WYSIWYG Images
	// ==============

	img, .wp-caption {

		margin: 0 auto $column-gutter;
		width: 100%;
		height: auto;

		// Images inside a caption
		img {
			margin: 0;
			display: inline-block;
		}

		@media #{$medium-up}{
			width: auto;
			&.alignleft {
				float: left;
				clear: left;
				margin-right: $column-gutter;
			}
			&.alignright {
				float: right;
				clear: right;
				margin-left: $column-gutter;
			}
		}

		&.wp-caption {
			width: auto !important;
			.wp-caption-text {
				@extend .caption-text;
			}
		}
	}
}


// ===============
// Buttons & Links
// ===============


// =========
// Galleries
// =========

.gallery {
	@extend .clearfix;
	margin-bottom: $column_gutter;
}

@for $i from 1 through 9 {
	.gallery-columns-#{$i} {
		.gallery-item {
			float: left;
			width: 100%/$i;
			margin: em(10) 0 0;
			text-align: center;
		}
	}
}


// =====
// Forms
// =====

input[type="submit"] {
	@extend .button;
	float: right;
}

input.check-pass-strength-meter {
	&.strength-0 { @include bad-color(); }
	&.strength-1 { @include bad-color(); }
	&.strength-2 { @include weak-color(); }
	&.strength-3 { @include ok-color(); }
	&.strength-4 { @include good-color(); }
	&.strength-5 { @include bad-color(); }
}

input[data-invalid] {
	border-color: $red;
}

// Gravity form styles

.gform_wrapper {
	ul {
		list-style: none;
		margin: 0;
	}
}

.gsection_title {
	font-size: em(18);
	color: $primary-color;
	text-transform: uppercase;
	border-bottom: 1px solid #DDD;
	border-top: 1px solid #DDD;
	margin: $column_gutter*2 0;
	padding: $column_gutter 0;
}

.gform_page_footer {
	border-top: 1px solid #DDD;
	margin: $column_gutter*2 0;
	padding: $column_gutter 0;
}

.gf_progressbar {
	background: #DDD;
	margin: $column_gutter/2 0;
	border-radius: $global-radius;
	.gf_progressbar_percentage {
		background: $primary-color;
		@include border-left-radius($global-radius);
		&.percentbar_100 {
			@include border-right-radius($global-radius);
		}
		span {
			color: #FFF;
		}
	}
}

.gf_progressbar_title {
	@extend .secondary-text;
}

.gfield_error {
	@extend .error;
}

.validation_message, .validation_error {
	@extend small.error;
}



// =========
// Alert Box
// =========
.alert-box {
	a {
		color: inherit;
		text-decoration: underline;
	}
}


// =======
// Utility
// =======

.screenreader {
	position: absolute;
	left: -999em;
}
